asn1crypto==0.24.0
certifi==2018.8.24
cffi==1.11.5
cryptography==2.3.1
Django==1.11.15
enum34==1.1.6
future==0.16.0
idna==2.7
image==1.5.25
ipaddress==1.0.22
numpy==1.15.1
opencv-python==3.4.3.18
Pillow==5.2.0
pycparser==2.18
pytesseract==0.2.4
python-telegram-bot==11.1.0
pytz==2018.5
six==1.11.0
telegram==0.0.1
Unidecode==1.0.22
